<html>
    <body>
        <h1>Add your message here</h1>
        <form method="post" action="/new">
            <input name="msgtext" type="text" placeholder="enter your message"/>
            <input name="sender" type="text" placeholder="your name"/>
            <button type="submit">send message</button>
        </form>
    </body>
</html>